
	<nav class="navbar navbar-default navbar-fixed-top">
	
		  <div class="row">
			  <div class="col-xs-6">
			  	<%= link_to "Home", root_path %>
			  	<%= link_to "Add new Post", new_post_path %>

			  </div>
			  <div class="col-xs-6">
				<% Category.all.each do |category| %>
					<div class="col-xs-3">
				 	  <%= link_to category.name, posts_path(category: category.name) %>
					</div>
				<% end %>
			  </div>
		  </div> 
	
	</nav>

